body {
  background: radial-gradient(
    circle,
    hsl(175, 100%, 69%),
    hsl(197, 58%, 43%)
  ); /* Circular gradient */
  border: solid 2px;
}

.container {
  display: flex;
  gap: 20px;
}

.box {
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 8em;
}

#b1 {
  background-color: #e44c4c;
}
#b2 {
  background-color: #e0e014;
}
#b3 {
  background-color: #29be29;
}

.hidden {
  display: none;
}
